/* CLASES GENERALES */

* {
    font-family: poppins, arial, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    transition: all .4s ease;
}

.shorten-button {
    position:relative;
    display: flex;
    align-items: center;
    height: 40px;
    border-style: none;
    width: 100%;
    margin: 2em;
}

.shorten-copy {
    display:flex;
    margin: 0;
    text-align: center;
    justify-content: center;
    background-color: hsl(180, 66%, 49%);
    color: white;
    height: 55px;
    width: 20%;
    border-style: none;
    border-radius: 8px 8px;
    margin-right: 4%;
    cursor: pointer;
}

.shorten-copy h3 {
    display: flex;
    align-items: center;
    font-weight: 600;
    letter-spacing: 0;
}

.shorten-button + input {
    display:none;
}

.shorten-button:hover {
     cursor:pointer;
     background-color:rgb(11, 199, 199);
}

#drop {
    display:none;
}

.option-im-drop {
    position: absolute;
    max-height: 0;
    margin: 0;
    padding: 20px;
    transition: all .4s ease;
    font-weight: 500;
    color: white;
    width: 100%;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0px;
}

#shorten-input:checked + #drop {
    max-height: 1000px;
}

.option-im-drop {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 90%;
    left: 7%;
    z-index: 1;
    width: 85%;
    height: auto;
    background-color: white;
    border-radius: 8px;
    margin-top: 1em;
    padding: 0.5em 0;
}

.option-im-drop input {
    display: flex;
    align-self: center;
    width: 90%;
    height: 55px;
    border-radius: 8px;
    text-indent: 16px;
    border-style: none;
    margin-left: 4%;
    margin-right: 2%;
    margin-top: 0;
    letter-spacing: .5px;
}

#button-link {
    margin: 0;
    text-align: center;
    justify-content: center;
    background-color: hsl(180, 66%, 49%);
    color: white;
    height: 55px;
    width: 20%;
    border-style: none;
    border-radius: 8px 8px;
    margin-right: 4%;
    cursor: pointer;
}

#button-link h3 {
    letter-spacing:0px;
    font-weight:600;
}

#link {
    background-color: white;
    color: black;
    display: flex;
    align-self: center;
    align-items: center;
    width: 65%;
    height: 55px;
    border-radius: 8px;
    text-indent: 0;
    border-style: none;
    margin-left: 4%;
    margin-right: 10px;
    margin-top: 0;
    letter-spacing: .5px;
}

#short-link {
    background-color: white;
    color: cyan;
    display: flex;
    align-items: center;
    width: 25%;
    height: 55px;
    border-radius: 8px;
    border-style: none;
    letter-spacing: .5px;
    margin-right: 10px;
}

.option-im-drop button:focus {
    background-color: hsl(257, 27%, 26%);
}
